#globalHeader{
	margin-bottom: 20px;
}
#utilityNav > ul > li{
	float: left;
}
nav#mainNav .dropdown4col{
    /*left: 0 !important;*/
}

#browseBy h3{
	float: left;
	margin-top:22px;
	margin-left:20px;
	margin-right: -400px;
    display: none;
}
#contentColumn .grid_4,
#contentColumn .grid_5,
#contentColumn .grid_6,
#contentColumn .grid_7,
#contentColumn .grid_8{
	border:none;
	float: left;
}
#contentColumn .grid_12{

}
#contentColumn .sectionBox{
	border:none;
}
.miniRotator{
	border:none;
}
#contentColumn .articleFormatInfo{
	border:none;
}
#contentColumn .image-overlay-format ul > li,
#contentColumn .image-overlay-format ul > li:first-child{
	border:none;
}
#rightColumn #emailAlertsWrapper #emailAlertsFieldWrapper{
	float: left;
}
#rightColumn #emailAlertsWrapper #emailAlertsSubmit{
	margin-left: 7px;
}
#rightColumn #featured-jobs form{
	height: 30px;
}
#rightColumn #featured-jobs form .search_bar{
	float: left;
	padding-top:3px;
}
#rightColumn #mostArticleTabs > ul{
	margin-left:20px;
	border:none;
}
#rightColumn #mostArticleTabs > ul li{
	float: left;
	/*border:solid 1px #d9d7d7;*/
	border:none;
}
#rightColumn #mostArticleTabs .mostArticleTabsContent{
	padding-top:25px;
}
#rightColumn #mostArticleTabs > ul a{
	border:none;
}
#rightColumn #mostArticleTabs > ul li{

}
#globalFooter #footerIcons > li{
	float: left;
}
#globalFooter .footer-right .footer_col{
	width:16.5%;
}
.socialIconsWrapper {
    margin: -2px 0 15px 0;
}
.image-overlay-format .socialIconsWrapper {
   padding-bottom: 10px;
}
nav#mainNav .dropdown4col {
  right: -183px !important;
}
#contentColumn .image-overlay-format ul {
    border-top: none;
}
#contentColumn .image-overlay-format ul > li {
    border-top: none;
}
#contentColumn .grid_12 .image-overlay-format ul,
#contentColumn .grid_12 .image-overlay-format ul > li {
    border-top: solid 1px #d9d7d7;
}
#contentColumn .grid_12 .sectionBox {
    border-bottom: solid 1px #d9d7d7;
}
#contentColumn .rawHTMLAsset .drugSearchFieldWrapper #subform {
    height: 44px;
}
#contentColumn .rawHTMLAsset #drugSearchField {
    position: relative;
    top: 1px;
    line-height: 45px;
    height: 45px;
}
#contentColumn .rawHTMLAsset #drugSearchSubmit {
    height: 45px;
    padding: 0;
}
nav#mainNav .nav-search-wrapper #searchFieldWrapper {
    float: left;
    display: block;
}
#contentColumn .sectionTitle {
    border: none;
}

#contentColumn .rawHTMLAsset .drug-listings .row a span {
    margin-top: -20px;
}

#contentColumn .grid_row > :first-child.grid_4 {
    border-right: none;
}
#dermDX-tabs {
    width: 60%;
}
nav#mainNav > ul > li:hover > a {
    margin-bottom: -1px;
}
header .logo {
    float: left;
    padding-top: 10px;
}
header .navigation {
    float: left;
}
.utility-links {
    float: right;
}