@font-face {
  font-family: 'OpenSansCondLight';
  src: url('../fonts/opensans-cond/opensans-condlight-webfont.eot');
  src: url('../fonts/opensans-cond/opensans-condlight-webfont.ttf') format('truetype'), 
  	   url('../fonts/opensans-cond/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'), 
  	   url('../fonts/opensans-cond/opensans-condlight-webfont.woff') format('woff'), 
  	   url('../fonts/opensans-cond/opensans-condlight-webfont.svg#OpenSansCondLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansCondLightItalic';
  src: url('../fonts/opensans-cond/opensans-condlightitalic-webfont.eot');
  src: url('../fonts/opensans-cond/opensans-condlightitalic-webfont.ttf') format('truetype'), 
  	   url('../fonts/opensans-cond/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'), 
  	   url('../fonts/opensans-cond/opensans-condlightitalic-webfont.woff') format('woff'), 
  	   url('../fonts/opensans-cond/opensans-condlightitalic-webfont.svg#OpenSansCondLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansCondLightBold';
  src: url('../fonts/opensans-cond/opensans-condbold-webfont.eot');
  src: url('../fonts/opensans-cond/opensans-condbold-webfont.ttf') format('truetype'), 
  	   url('../fonts/opensans-cond/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'), 
  	   url('../fonts/opensans-cond/opensans-condbold-webfont.woff') format('woff'), 
  	   url('../fonts/opensans-cond/opensans-condbold-webfont.svg#OpenSansCondLightBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1
h2
h3
	margin 0
	font-weight normal
	color #333
	text-transform uppercase
	font-family 'OpenSansCondLight'
h4
h5
h6
	margin 0
	font-weight normal
	color #333
	font-family 'OpenSansCondLight'
	font-size 20px
	line-height 26px
h1
	font-size 36px
	line-height 42px
	padding 0 0 10px 0
	span
		color #6eb55e
h2
	font-size 30px
	line-height 36px
a
	text-decoration none
p 
	font-size 14px
	line-height 20px
#utilityNav
.nav-search-wrapper
	display none
html
	background url('../images/html-bkg.png') repeat 50% 50% #313a48
.main-content-background
	width 100%
	background-color transparent
	height 800px
	/*background-image url('../images/background.gif')*/
	background-size cover
	background-position 50% top
	background-repeat no-repeat
	margin-bottom -800px
	position relative
	z-index 0
.container
	width 100%
	position relative
	z-index 1
.wrapper
	width 1000px
	margin 0 auto
#globalHeader
	width 100%
	background-color rgba(0,0,0,0.5)
	.grid_12.omega
		padding 15px 0
#headerAdWrapper
	float left
.header-countdown-clock
	float left
	h2
		color #FFF
		font-size 18px
		padding 20px
#headerTop
	background url('../images/html-bkg.png') repeat 50% 50% #313a48
	padding 15px 0
#logoWrapper
	width 408px
	height 66px
	float left
#mainNav
	float right
	margin-top 15px
	ul
		margin 0
		padding 0
		& > li:last-child
			a
				background-color #2e333b
				color #c3c3c3
				&:hover
				&.current
					color #6eb55e
	li 
		float left
		list-style-type none
	a
		display block
		color #FFF
		text-decoration none
		text-transform uppercase
		font-size 15px
		line-height 21px
		font-weight bold
		padding 10px 15px
		font-family 'OpenSansCondLightBold'
		&:hover
		&.current
			color #6eb55e
.main-content-header
	margin-top 15px
	position relative
	z-index 1
	img
			margin-top -35px
			margin-bottom - 20px
	header
		color #FFF
		background: #000000;
		padding-top 10px
		background: -moz-linear-gradient(top,  #000000 0%, #424242 96%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(96%,#424242));
		background: -webkit-linear-gradient(top,  #000000 0%,#424242 96%);
		background: -o-linear-gradient(top,  #000000 0%,#424242 96%);
		background: -ms-linear-gradient(top,  #000000 0%,#424242 96%);
		background: linear-gradient(to bottom,  #000000 0%,#424242 96%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#424242',GradientType=0 );*/
		h3
			color #FFF
			text-transform none
			font-size 30px
			line-height 36px
			border-bottom solid 1px #8d8c8c
			padding-bottom 10px
			float left
			margin-top 15px
			font-family 'OpenSansCondLightBold'
		p
			padding 5px 0
			margin 0
		.register 
			float right
			img
				margin-top 7px
				margin-bottom 0
				float left
			.register-now-button
				width 270px
				margin-left 30px
				float left
		.content
			border-top solid 2px #FFF
			.wrap
				padding 15px 35px 15px 35px
	.slug
		height 300px
.ticker
	position relative
	z-index 1
	.ticker-content
		background-color rgba(0,0,0,0.7)
		padding 10px 35px
		p 
			padding 0
			margin 0
			text-transform uppercase
			color #FFF
.main-content
	background-color #FFF
	padding 35px 35px
	width 930px
	position relative
	z-index 1
#contentColumn
	width 610px
	float left
	header
		border-bottom solid 1px #cbcbcb
		margin-bottom 5px
	p 
		padding 5px 0
		margin 0
	a
		color #6eb55e
		&:hover
			color #333
	ul
	p
		a:hover
			text-decoration underline
	.sponsors-wrap
		h3
			border-bottom solid 1px #d5d5d5
			font-size 26px
			line-height 32px
			padding-bottom 10px
			margin-bottom 10px
			margin-top 10px
		table
			width 100%
			margin-bottom 20px
			tr 
				& > td:first-child
					border-right solid 1px #ececec
			tr:last-child
				td
					border-bottom none
		td
			vertical-align middle
			text-align center
			padding 20px 10px
			border-bottom solid 1px #ececec
.header-date
	font-size 27px
	line-height 33px
	color #72ba62
	padding 0 0 15px 0
	font-family 'OpenSansCondLight'
.video
	width 597px
	height 549px
	margin-left -35px
	padding-left 35px
	background url('../images/video-bkg.jpg') repeat left top #FFF
	h2
		padding-left 50px
		padding-top 60px
		font-family 'OpenSansCondLightBold'
.video-wrap
	border solid 1px #d3c3ab
	padding 2px 2px 0 2px
	width 500px
	margin 20px auto 0 auto
#rightColumn
	width 300px
	float right
	.rawHTMLAsset
	.rightAdContainer
		margin-bottom 35px
	.sponsors
		background-color #f1f1f1
		padding 10px
		h3
			font-size 17px
			line-height 23px
			text-align center
			margin 10px 0
			font-family 'OpenSansCondLightBold'
		img
			width 100%
			height auto
			border solid 1px #e8e8e8
			margin-bottom 10px
.register-now-button
	display block
	color #FFF
	font-weight bold
	font-size 27px
	line-height 33px
	background-color #6eb55e
	text-align center
	text-transform uppercase
	padding 25px 15px
	font-family 'OpenSansCondLightBold'
	&:hover
		background-color #4a8a3c
#rightNewsLetterAsset
	background-color #6eb55e
	margin-bottom 35px
	padding 15px
	h3
		color #FFF
		font-weight bold
		font-size 15px
		line-height 21px
		text-align center
		font-family 'OpenSansCondLightBold'
	label
		color #FFF
		font-size 14px
		line-height 20px
		input
			position relative
			top 2px
	select
		margin 5px 0
		background-color #f5f5f5
		outline none
		border 1px solid #cdcdcd
		padding 7px 0 7px 5px
		border-radius 4px
		width 100%
	table
		margin-bottom 10px
	td 
		padding-top 5px
#emailAlertsWrapper
	background-color #FFF
	padding 5px 10px
#emailAlertsFieldWrapper
	width 180px
	float left
	margin-top 7px
	input
		width 95%
		border none
		&:focus
			outline none
#emailAlertsSubmit
	background none
	border none
	padding 0
	margin 0
	background-color #FFF
	text-transform uppercase
	border-left solid 1px #6eb55e
	color #6eb55e
	padding 8px 0 8px 8px
.speakers-wrap
	.speaker
		padding 25px 0 20px 0
		border-bottom solid 1px #cbcbcb
		header
			border none !important
	& > .speaker
		&:last-child
			border none
	h3
		text-transform none
		font-size 28px
		line-height 34px
		margin 0
		padding 0
		font-weight bold
		padding-right 20px
		padding-bottom 3px
	h4
		text-transform none
		font-weight bold
		padding-bottom 5px
	.left
		width 124px
		float left
		img
			width 100%
			height auto
	.right 
		width 486px
		float left
		.wrap
			padding-left 40px
	.twitter-follow-button
		float right
		margin-top 5px
.agenda-wrap
	.agenda
		padding 15px 0
		border-bottom solid 1px #cbcbcb
	& > .agenda
		&:last-child
			border none
	h3
		text-transform none
		font-size 26px
		line-height 32px
		margin-top -1px
	h4
		font-weight bold
		font-size 18px
		margin-top 10px
		margin-bottom 5px
	ul 
		margin 5px 0 8px 0
		padding 0
	li 
		list-style-type none
		padding-bottom 7px
	.left
		width 160px
		float left
		font-family 'OpenSansCondLight'
		text-transform uppercase
		font-size 20px
		line-height 26px
	.right 
		width 770px
		float left
		.wrap
			padding-left 20px
	.box 
		padding-bottom 10px
		ul 
			margin-bottom -5px
		p 
			color #999
			a 
				text-transform uppercase
				color #333 !important
#globalFooter
	padding-bottom 50px
	color #FFF
	a
		color #FFF
		&:hover
			color #6eb55e
	ul
		padding 0
	li 
		list-style-type none
		margin-bottom 15px
	.wrapper
		padding 35px 35px
		width 930px
	header
		position relative
	.logo
		display block
		width 250px
		height 24px
		background url('../images/footer-logo.png') repeat left top transparent
		text-indent -9999px
	.back-to-top
		position absolute
		bottom 0
		right 0
		text-transform uppercase
		font-family 'OpenSansCondLightBold'
	.left-content
		width 605px
		float left
		border-right solid 1px #727171
		padding-right 35px
	.right-content
		width 254px
		padding-left 35px
		float left
	.social-links
		padding-top 5px
		ul
			padding 0
			margin 0
		li 
			float left
			margin-right 15px
		a
			display block
			width 28px
			height 27px
			background url('../images/social-icons.png') no-repeat left top transparent
			text-indent -9999px
			&.twitter
				background-position -28px top
			&.linkedin 
				background-position -56px top
			&.google 
				background-position -84px top
/*body
	background url('../images/body-bkg.png') repeat 50% 50% #f3f6f6
img
	display block

.container
	width 1168px
	margin 0 auto

#globalHeader,
#headerTop
	width 100%

#globalHeader .grid_12
#globalHeader .grid_12.omega
#globalHeader #logoWrapper.grid_3
	margin 0
	float none
	width auto

#globalHeader 
	.grid_12.omega
		padding 20px 7.19178082191781%
		&:after
			display table
			content " "
			clear both
	.welcome
		float right
		margin-top 15px
		span
			display block
			color #4a4a48
			font-size 14px
			line-height 20px
			font-weight bold
			&:nth-child(2)
				color #0067a5
				text-transform uppercase

#headerTop
	border-bottom solid 1px #d9d7d7
	&:after
		display table
		content " "
		clear both

#headerAdWrapper.grid_10
	margin 0
	float left
	width 62.32876712328767%
	padding 10px 0 10px 7.19178082191781%
	img
		max-width 100%

#utilityNav
	width 23.287671232877%
	float left
	padding-right 7.19178082191781%
	& > ul
	& > div
		float left
		margin-top 20px
	& > ul
		width 65%
	& > div
		width 35%
	& > ul li
		text-transform uppercase
		display inline-block
		font-size 12px
		line-height 18px
		margin-right 4px
		&:nth-child(1)
			display block
			margin-bottom 5px
		&:nth-child(1)
		&:nth-child(2)
			padding-left 15px
		a
			display block
			width 28px
			height 27px
			text-indent -9999px
			background-color #CCC
			&.facebookIcon
				background url('../images/facebook-icon-article.png') no-repeat top left transparent
			&.twitterIcon
				background url('../images/twitter-icon-article.png') no-repeat top left transparent
			&.googleplusIcon
				background url('../images/googleplus-icon-article.png') no-repeat top left transparent
			&.linkedInplusIcon
				background url('../images/linkedin-icon-article.png') no-repeat top left transparent

.utilityNavLinks
	& > div
		&:nth-child(1)
			a
				&:nth-child(1)
					margin-top 0
		&:after
		&:before
			display table
			content " "
			clear both
	a
		display block
		float left
		clear both
		font-size 13px
		line-height 19px
		text-transform uppercase
		text-decoration none
		margin-top 8px
		color #639e9f
	span 
		display none

#globalHeader 
	#logoWrapper.grid_3
		background-color #FCF
		float left
		img
			max-width 100%

nav
	&#mainNav
	&#sub-nav
		margin 0 7.19178082191781%
		width 85.616438356164%

nav#mainNav
	background-color #6e6e6e
	border-bottom solid 4px #d3d3d3
	&:after
		display table
		content " "
		clear both
	ul
		float left
		width 77.86%
	.grid_12
		margin 0
		float left
		width 18%
		margin-left 10px
	.nav-search-wrapper
		border solid 1px #787878
		padding 5px 10px
		margin-top 10px
		#searchFieldWrapper
		input
			float left
			margin 0
			padding 0
			color #FFF
		#searchFieldWrapper
			width 86%
			input
				border none
				background-color transparent
				height 30px
				line-height 30px
				width 100%
		& > input
			border none
			background url('../images/search-icon.gif') no-repeat 50% 50% transparent
			text-indent -9999px
			width 22px
			height 30px
	a
		display block
		float left
		font-size 15px
		line-height 21px
		color #FFF
		text-transform uppercase
		text-decoration none
		padding 20px
		border-right solid 1px #868686
nav#sub-nav
	ul
		text-align center
	li
		display inline-block
		&:nth-child(1)
			font-size 10px
			line-height 16px
			color #5a5a5a
			background-color #d7eefa
			text-transform uppercase
			padding 3px 15px
	a
		display block
		padding 20px
		font-size 14px
		line-height 20px
		color #333
		text-transform uppercase
		text-decoration none
		font-weight bold

#contentColumn
	background-color #FFF
	
	img
		max-width 100%
	.grid_row
		border-bottom solid 1px #d9d7d7
		display table
		& > .grid_6:last-child
		& > .sectionBox:last-child
			border none
	& > .grid_row:last-child
		border none
	&.grid_8
		margin 0 0.85616438356164% 0 7.19178082191781%
		border solid 1px #dbdbdb
		width 58.904109589041%
	.grid_6
		margin 0
		padding 5px 0
		width 50%
		height 100%
		display table-cell
		float none 
		border-right solid 1px #d9d7d7
		& > .sectionBox:last-child
			border none
	
	.sectionBox
		padding 10px 10px
		border-bottom solid 1px #d9d7d7
		h2
			&.sectionHeadline
				margin-bottom 5px
				a
					font-size 24px
					line-height 28px
					color #468b8c
					text-decoration none
					font-weight normal
					font-family 'Georgia'
		p 
			&.sectionShortText
				color #666
				font-size 15px
				line-height 21px
				&:after
					display table
					content " "
					clear both
		.sectionThumb
			float left
			padding 0 10px 0 0
		.sectionCat
			font-size 13px
			line-height 19px
			color #939393
			text-transform uppercase
					
	h3
		&.sectionTitle
			font-size 13px
			line-height 19px
			color #939393
			text-transform uppercase
			margin 0 0 -5px 0
			padding 10px 10px 0 10px

#rightColumn
	&.grid_4
		margin 0 7.19178082191781% 0 0
		width 25.684931506849%
	h3
		&.sectionTitle
			font-size 14px 
			line-height 20px
			color #939393
			text-transform uppercase
			text-align center
			padding 10px
			border-top solid 2px #000
			border-left solid 1px #d9d7d7
			border-right solid 1px #d9d7d7
			margin-top 20px
	#rightNewsLetterAsset
		border solid 1px #d9d7d7
		width 99.333333333333%
		table
			margin 10px 10px 0 10px
		&:after
			display table
			content " "
			clear both
	#emailAlertsWrapper
		padding 10px 10px 20px 10px
		#emailAlertsFieldWrapper
			float left
			width 68%
			input
				margin 0
				padding 0 10px
				width 90%
				height 30px
		#emailAlertsSubmit
			margin 0
			padding 0
			width 30%
			height 34px
	#mostArticleTabs
		clear both
		&:before
			display table
			content " "
			clear both
		h3
			font-size 14px 
			line-height 20px
			color #939393
			text-transform uppercase
			text-align center
			padding 10px
			border-top solid 2px #000
			border-left solid 1px #d9d7d7
			border-right solid 1px #d9d7d7
			margin-top 20px
		& > ul
			border-left solid 1px #d9d7d7
			border-right solid 1px #d9d7d7
			border-bottom solid 1px #d9d7d7
			text-align center
			li
				display inline-block
				width 31%
			a
				display block
				text-align center
				font-size 13px
				line-height 19px
				text-decoration none
				color #666
				border solid 1px #d9d7d7
				padding 5px 0
				position relative
				top 1px
				background-color #e6e6e6
				&.current
					background-color #FFF
					border-bottom solid 1px #FFF
		.mostArticleTabsContent
			border-left solid 1px #d9d7d7
			border-right solid 1px #d9d7d7
			border-bottom solid 1px #d9d7d7
			ul
				padding 10px
			li
				padding 5px 0
			a
				color #333333
				font-size 13px
				text-decoration none

#globalFooter
	clear both
	.wrapper
	.copyrightText
		padding 0 7.19178082191781%
		width 85.616438356164%
	.wrapper
		padding-top 20px
		padding-bottom 20px
		&:after
			display table
			content " "
			clear both
	.copyrightText
		background-color #f7f7f7
		color #666
		font-size 12px
		line-height 18px
		text-align center
		padding-top 20px
		padding-bottom 20px
		margin-top 50px
		p
			padding 1px 10px
	.footer-left
		width 40%
		float left
		.intro
			border-right solid 1px #d9d7d7
		p
			font-size 14px
			line-height 20px
			margin 20px 0
			color #333
			padding-right 20px
	.footer-right
		width 60%
		float left
		.grid_8
			margin 0
			float none
			width 100%
			&:after
				display table
				content " "
				clear both
		.footer_col
			width 25%
			float left
			margin-top 20px
			ul
				padding-left 20px
			li
				margin-bottom 3px
			a
				color #595959
				font-size 14px
				line-height 20px
				text-decoration none
	.welcome
		span
			display block
			color #4a4a48
			font-size 14px
			line-height 20px
			font-weight bold
			&:nth-child(2)
				color #0067a5
				text-transform uppercase
	#footerIcons
		float right
		& > li
			text-transform uppercase
			display inline-block
			font-size 12px
			line-height 18px
			margin-right 4px
			a
				display block
				width 28px
				height 27px
				text-indent -9999px
				background-color #CCC
				&.facebookIcon
					background url('../images/facebook-icon-article.png') no-repeat top left transparent
				&.twitterIcon
					background url('../images/twitter-icon-article.png') no-repeat top left transparent
				&.googleplusIcon
					background url('../images/googleplus-icon-article.png') no-repeat top left transparent
				&.linkedInplusIcon
					background url('../images/linkedin-icon-article.png') no-repeat top left transparent
	#footerLogo
		display block
		width 199px
		height 31px
		background url('../images/logo-footer.gif') no-repeat top left transparent
		float left
		text-indent -9999px
		margin-left 20px

.miniRotator
	width 94.5%
	height auto
	margin 0
	padding 10px 10px 30px 10px
	border-bottom solid 1px #d9d7d7
	img
		display block
		width 100%
		
@media only screen and (max-width: 768px)
	.container
		width 100%
		margin 0
	#globalHeader .grid_12.omega
		padding 20px 1.7123287671233%
	#headerAdWrapper.grid_10
		padding-left 1.7123287671233%
		display none
	#utilityNav
		margin 0 1.7123287671233%
		width 96.575342465753%
		padding 0
		float none
		& > ul
			width 60%
			margin-top 10px
			li
				&:nth-child(1)
				&:nth-child(2)
					padding-left 0
		& > div 
			width 40%
			margin-top 10px
		.utilityNavLinks
			a
				float right
	nav#mainNav
	nav#sub-nav
		margin 0 1.7123287671233%
		width 96.575342465753%
	nav#mainNav
		background-color transparent
		border none
		ul
			float none
			width 100%
			text-align center
			padding 10px 0
			background-color #6e6e6e
			border-bottom solid 4px #d3d3d3
		li
			display inline-block
		a
			display block
			float none
			border none
			padding 10px
		.grid_12
			float none
			width 70%
			margin 15px auto 5px auto
			&:after
				display table
				content " "
				clear both
	nav#sub-nav
		a
			padding 20px 10px
	#contentColumn
		&.grid_8
			margin 0 1.7123287671233%
			width 96.3%
	#rightColumn
		max-width 100%
		&.grid_4
			margin 0 1.7123287671233%
			width 96.575342465753%
		.rightAdContainer
			display none
	#globalFooter
		&:before
			display table
			content " "
			clear both
		.rawHTMLAsset
			margin-top 20px
		.wrapper
		.copyrightText
			padding 0 1.7123287671233%
			width 96.575342465753%
		.copyrightText
			padding-top 20px
			padding-bottom 20px

@media only screen and (max-width: 720px)
	#globalHeader
		.welcome
			float none
			margin 0 0 10px 0
			span
				display inline
	nav#sub-nav
		li
			&:nth-child(1)
				display none
		a
			padding 10px
	#globalFooter
		.footer-left
			width 100%
			float none
			.intro
				border none
			p
				padding 0
				margin-top 10px
		.footer-right
			width 100%
			float none
			.footer_col
				ul
					padding 0
			#footerLogo
				margin 0

@media only screen and (max-width: 570px)
	#contentColumn
		.grid_row
			display block
			.grid_6
				display block
				width 100%
				border none

@media only screen and (max-width: 570px)
	.header-logo
		width 100%
		height auto

@media only screen and (max-width: 400px)
	nav#mainNav
		.grid_12
			width 90%
	#globalFooter
		.footer-right
			.footer_col
				width 50%
		#footerIcons
			float none
			margin-top 5px
		#footerLogo
			float none*/