#wrapper.asgrow {
  color: #39464d; }
  #wrapper.asgrow h1 {
    color: #48778f; }
  #wrapper.asgrow h2 {
    color: #aab0b2;
    margin: 0 0 .5em 0; }
  #wrapper.asgrow h3 {
    color: #00a651; }
  #wrapper.asgrow h4 {
    color: #48778f; }
  #wrapper.asgrow p a, #wrapper.asgrow ul a, #wrapper.asgrow ol a {
    color: #00a651; }
  #wrapper.asgrow .accent {
    color: #00a651; }
  #wrapper.asgrow .panel {
    background-color: #f5f9fc;
    border-color: #bcc7cc; }
  #wrapper.asgrow .striped li:nth-child(even),
  #wrapper.asgrow .striped div:nth-child(even) {
    background-color: #f5f9fc; }
  #wrapper.asgrow .button {
    background-color: #00a651; }
    #wrapper.asgrow .button.medium {
      background-color: #48778f;
      color: #fff; }
    #wrapper.asgrow .button.small {
      color: #39464d;
      background-color: #f5f9fc;
      border: 1px solid #c2c8cc; }
    #wrapper.asgrow .button.text {
      color: #39464d;
      background: none; }
  #wrapper.asgrow footer.social {
    background-color: #48778f; }
    #wrapper.asgrow footer.social li.icon {
      background-color: #00a651; }
  #wrapper.asgrow .header, #wrapper.asgrow table.styled th,
  #wrapper.asgrow .asgrow table th {
    background-color: #48778f;
    color: #fff;
    border-left: 1px solid #737373;
    border-top: 1px solid #48778f; }
  #wrapper.asgrow table.styled,
  #wrapper.asgrow .asgrow table {
    border: 1px solid #cccccc; }
    #wrapper.asgrow table.styled td,
    #wrapper.asgrow .asgrow table td {
      border-color: #bcc7cc; }
    #wrapper.asgrow table.styled .focused,
    #wrapper.asgrow .asgrow table .focused {
      background-color: #ced5d9; }
    #wrapper.asgrow table.styled .hover,
    #wrapper.asgrow .asgrow table .hover {
      background-color: #e6eef2; }
    #wrapper.asgrow table.styled .emphasis,
    #wrapper.asgrow table.styled .em,
    #wrapper.asgrow .asgrow table .emphasis,
    #wrapper.asgrow .asgrow table .em {
      color: #00a651; }
  #wrapper.asgrow .form input[type="text"] {
    border-color: #bcc7cc; }
  #wrapper.asgrow .form input[type="checkbox"] {
    border-color: #bcc7cc; }
  #wrapper.asgrow .form input[type="radio"] {
    border-color: #bcc7cc; }
  #wrapper.asgrow .form input[type="checkbox"]:checked:after {
    color: #00a651; }
  #wrapper.asgrow .form input[type="radio"]:checked:after {
    background-color: #00a651; }
  #wrapper.asgrow .form input[type="checkbox"]:disabled, #wrapper.asgrow .form input[type="radio"]:disabled {
    background-color: #f5f9fc;
    border: 1px solid #bcc7cc; }
  #wrapper.asgrow .form textarea {
    border-color: #bcc7cc; }
  #wrapper.asgrow .form .custom-select {
    border-color: #bcc7cc; }
    #wrapper.asgrow .form .custom-select select {
      border-color: #bcc7cc; }
    #wrapper.asgrow .form .custom-select span {
      background-color: #f5f9fc;
      border-color: #bcc7cc; }
