// Site-specific global variables
$light-gray: #e6e6e6;
$light-brown: #8f8472;
$dark-brown: #454038;
$orange: #8d340b;
$light: #faf8f6;
$tan: #b5a48a;

// max-width of site
$max-width: 1250px;

// vars for easy font stacks
$proxima: 'ProximaNova', sans-serif;
$proxima-bold: 'ProximaNovaBold', sans-serif;
$proxima-thin: 'ProximaNovaThin', sans-serif;
$proxima-italic: 'ProximaNovaItalic', sans-serif;
$proxima-bold-italic: 'ProximaNovaSemiBoldItalic', sans-serif;

$entypo: 'Entypo';
$entypo-social: 'Entypo-Social';

$other-crops-color: #f09c48;

// asgrow colors
$asgrow-base: #39464d;
$asgrow-primary: #48778f;
$asgrow-secondary: #aab0b2;
$asgrow-accent: #00a651;
$asgrow-light: #f5f9fc;

// dekalb colors
$dekalb-base: #4d4d4d;
$dekalb-primary: #4d4d4d;
$dekalb-secondary: #999999;
$dekalb-accent: #f3c10a;
$dekalb-light: #f2f2f2;

// deltapine colors
$deltapine-base: #4d423d;
$deltapine-primary: #008349;
$deltapine-secondary: #998f8a;
$deltapine-accent: #8d340c;
$deltapine-light: #f2efed;